:root { 
--black_900_7f:#0000007f; 
--purple_200:#d175e0; 
--gray_50_01:#f7f9fb; 
--gray_50_02:#f8fafc; 
--cyan_900_14:#15517d14; 
--red_600:#e83f3a; 
--gray_900_99:#03143499; 
--blue_gray_100_01:#ced9df; 
--yellow_600_7f:#ffda327f; 
--blue_gray_100_02:#cbd4dd; 
--blue_gray_100_03:#c6cdd0; 
--red_300:#ff6969; 
--red_500:#fb3131; 
--light_blue_400:#37b1e2; 
--teal_200:#7bbcb0; 
--gray_50:#f8fcff; 
--black_900_1e:#0000001e; 
--white_A700_cc:#ffffffcc; 
--white_A700_33:#ffffff33; 
--white_A700_99:#ffffff99; 
--yellow_600:#ffda32; 
--yellow_800:#e4b613; 
--blue_gray_900_02:#13253f; 
--pink_700:#c23772; 
--blue_gray_700:#495560; 
--purple_900_7f:#47047d7f; 
--blue_gray_900_01:#13243e; 
--blue_gray_900:#1c2a38; 
--gray_600:#778088; 
--white_A700_4c:#ffffff4c; 
--blue_gray_100:#cfd9de; 
--blue_gray_900_03:#1c2b38; 
--cyan_400_7f:#2adce67f; 
--black_900_0f:#0000000f; 
--teal_A100:#affff0; 
--gray_200:#e8eaeb; 
--orange_400:#ffa331; 
--gray_300:#e6e6e6; 
--gray_100:#f4f4f5; 
--white_A700_66:#ffffff66; 
--indigo_400:#4b69b1; 
--black_900_33:#00000033; 
--blue_300:#58a9fd; 
--blue_400:#5b9bde; 
--teal_200_7f:#7bbcb07f; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}